*{
	margin: 0;
	padding: 0;
	
}
::selection {
    background: #008c44;
    color: white;
}
.row{
	margin: 0;
	padding: 0;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	scroll-behavior: smooth;
}

body {
	line-height: 1;
	font-family: 'Montserrat','Lato','Open Sans', sans-serif;
	overflow-x: hidden;
}

header{
	background: white;
	position: relative;
	display: inline-block;
	z-index: 9999;
}
.logo_sec{
	width: 100%;
    height: auto;
    position: absolute;
    background-color: white;
}
header article .logo{
	width: auto;
	height: auto;
	position: relative;
	display: inline-block;	
	padding: 5px 15px !important;
}

header article .logo img{
	position: relative;
	display: inline-block;
	width: 60%;
}

header article .menu nav {
	height: auto;
	display: inline-block;
	position: relative;
	float: right;
	padding: 0px;
    text-align: center;
    font-size: small;
    top: 3.2em;
    right: 15px;
}
button {
    padding: 10px;
    background: #008c44;
    color: white;
    border: 1px solid #008c44;
    transition: all .5s ease-in;
}
button:hover{
	background: white;
    color: #008c44;
}
/*banner video*/
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}
.transp_bg {
    position: fixed;
    background: rgba(0,0,0,0.6);
    height: 100%;
    background-attachment: fixed;
    width: 100%;
}
/*banner Video end*/
.ani_hidden{
     opacity:0;
}
.ani_visible{
     opacity:1;
}
.logo{
	transition: all .5s ease-in;
}
.fix_logo{
	position: fixed !important;
    z-index: 9 !important;
    transition: all .5s ease-in;
}

.fix_menu{
	position: fixed;
	width: 100%;
	top: 0;
	box-shadow: -1px 3px 5px;
	transition: all .5s ease-in;
	background: white;
	padding-right: 15px;
}
.fix_menu nav{
	top: 0 !important;
	padding: 20px 0 !important;
	color: white !important;
	margin-bottom: 0;
}
.main_menu li {
  position: relative !important;
}
#sub_menu {
  position: absolute;
  top: 100% ;
  left: 0 ;
}
/* Fold Out
============================== */
.nav {
  margin-bottom: 48px;
}
.nav ul {
  *zoom: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav ul:before,
.nav ul:after {
  content: "";
  display: table;
}
.nav ul:after {
  clear: both;
}
.nav ul > li {
  float: left;
  position: relative;
}
.nav a {
  display: block;
  padding: 10px 20px;
  line-height: 1.2em;
  color: #fff;
}
.nav li ul {
  background: #273754;
}
.nav li ul li {
  width: 200px;
}
.nav li ul a {
  border: none;
}
.nav li ul a:hover {
  background: rgba(0, 0, 0, 0.2);
}
/* Not Animated
============================== */
.nav1 ul > li:hover ul {
  left: 0;
}
.nav1 li ul {
  position: absolute;
  left: -9999em;
  top: 36px;
  z-index: 1;
}
.nav5 ul > li:hover ul {
  max-height: 1000px;
  -webkit-transform: perspective(400) rotate3d(0, 0, 0, 0);
}
.nav5 li ul {
  position: absolute;
  left: 0;
  top: 36px;
  z-index: 1;
  max-height: 0;
  overflow: hidden;
  -webkit-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
  -webkit-transform-origin: 50% 0;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms;
}
.menu nav ul li{
	display: inline-block;
	position: relative;
}

.menu nav ul li a{
	position: relative;
	display: inline-block;
	padding: 9px;
	color: #999;
	text-decoration: none;
    transition: all 1s ease;
    font-size: 11px;
}
.bdr_curve{
	border-bottom-left-radius: 2em;
}
.main_menu > li:nth-child(4) #sub_menu{
	margin-left: .6em;
}
.menu nav ul li a:hover{
	color: #008c44;
	text-decoration: none;
    transition: all 1s ease;
}
.flipster__button:hover{
	color: transparent !important;
}
.linkani:after{
	content: "";
    width: 0%;
    height: 0px;
    border: 0px solid #008c44;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .5s ease-in;
}
.linkani:hover:after{
	content: "";
	width: 100%;
	height: 30px;
	border: 2px solid #008c44;
	transition: all .5s ease-in;
}
#sub_menu{
	position: absolute;
    background: white;
    color: #008c44;
    margin-top: 6px;
    transition: all .5s ease-in;
    width: 150px;
}
.fix_menu #sub_menu{	
    margin-top: 20px;
}
#sub_menu li{
	width: 150px;
}
#sub_menu li a{
    background: #008c44;
    color: white !important;
    width: 150px;
    padding: 7px;
    border: 1px solid #008c44;
    padding: 15px;
    text-align: left;
}
#sub_menu li a:hover{
	background: white;
	color: #008c44 !important;

}
.footer_sn{
	position: absolute;
    right: 12px;
    top: 45px;
}
.footer_sn ul li{
	display: inline-block;
}
.icoFacebook i{
	color: white;
    font-size: 14px;
    border: 2px solid white;
    padding: 5px 5px 5px 7.5px;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    transition: all 1s ease-in;
    transform: rotate(0deg);
}
.icoFacebook i:hover{
	background: #3B5997;
	color: white;
	border-color: #3B5997;
	transform: rotate(360deg); 
	transition: all 1s ease-in;
}
.icoyoutube i{
	color: white;
    font-size: 14px;
    border: 2px solid white;
    padding: 4px 5px 5px 6px;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    transition: all 1s ease-in;
    transform: rotate(0deg);
}
.icoyoutube i:hover{
	background: #DE332C;
	color: white;
	border-color: #DE332C;
	transform: rotate(360deg); 
	transition: all 1s ease-in;
}
.icoGoogle i{
	color: white;
    font-size: 14px;
    border: 2px solid white;
    padding: 5px 5px 5px 3px;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    transition: all 1s ease-in;
    transform: rotate(0deg);
}
.icoGoogle i:hover{
	background: #D13E2C;
	color: white;
	border-color: #D13E2C;
	transform: rotate(360deg); 
	transition: all 1s ease-in;
}
.icoLinkedin i{
	color: white;
    font-size: 14px;
    border: 2px solid white;
    padding: 4px 5px 5px 6px;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    transition: all 1s ease-in;
    transform: rotate(0deg);
}
.icoLinkedin i:hover{
	background: #006DC0;
	color: white;
	border-color: #006DC0;
	transform: rotate(360deg); 
	transition: all 1s ease-in;
}
.social_icons{
	position: absolute;
	display: inline-block;
	right: 0;
	color: #999;
	padding: 10px 25px 10px 35px;
}
.social_icons span{
	font-size: 12px;
}
.social_icons ul{
	width: 100%;
	text-align: center;
	padding-top: 10px; 
}
.social_icons ul li{
	display: inline-block;
}
.social_icons ul li img{
	padding: 5px;
	width: 30px;
}
/*slider*/
.slider_text{
	position: absolute;
	right: 0;
    width: 60%;
    height: 175px;
    bottom: 0px;
    z-index: 3;
    color: white;
    line-height: 16px;
    left: 0;
    margin: auto;
    top: 0;
    text-align: center;
}

.slider_text .name{
	padding: 15px;
	position: relative !important;
	display: inline-block;
}
.slider_text .name span{
	font-size: 25px;
}
.slider_text .name a{
	color: bisque;
	text-decoration: none;
}

.slider_text .info{
	padding: 15px;
	position: relative !important;
	display: inline-block;
}
.slider_text .info p{
	color: white;
	text-decoration: none;
	font-size: 12px;
}

.slider_text .read_more{
	padding: 15px;
	position: relative;
	display: inline-block;
	cursor: pointer;
}
.slider_text .read_more a{
	color: white !important;
	text-decoration: none;
}
.slider_text .read_more a:after{
	content: "";
    background-color: white;
    width: 0%;
    height: 2px;
    position: absolute;
    left: 2px;
    bottom: 12px;
    right: 0;
    margin: auto;
    transition: all .5s ease-in;
}
.slider_text .read_more a:hover:after{
	width: 61%;
	transition: all .5s ease-in;
}
/*slider end*/
.wrapper_sec{
	overflow: hidden;
	position: absolute;
    width: 100%;
    top: 100%;
}
/*product section*/
.product_header{
	padding: 25px;
    display: inline-block;
    position: relative;
    text-align: center;
    background: #efefef;
}
.product_header h1{
	font-size: 2em;
    font-weight: 900;
}
.product_header hr{
	margin: 12px auto 0;
    width: 7%;
    border-color: black;
}
.products{
	padding: 2em;
    background: white;
}
.product_img{	
    background-position: 0;
    background-size: cover;
    position: absolute;
    right: 0;
    height: 100%;
}
.prod_img_1{
	background-image: url(../images/banner_power_tiller.jpg);
}
.prod_img_2{
	background-image: url(../images/banner_tractor.jpg);
}
.prod_img_3{
	background-image: url(../images/banner_power_reaper.jpg);
}	

.product_details{ background: white; }
.product_details .title{
	position: relative;
    display: block;
    width: 100%;
    text-align: center;
    padding: 0 0 1em;
    font-size: 2em;
    color: #008c44;
}
.product_details .title hr{
	border-top: 3px solid #eee;
}
.product_details .details p{
	padding: 1em;
    line-height: 25px;
    text-align: justify;
}
.prod_link{
	width: 100%;
	text-align: right;
	padding-right: 1em;
}
.prod_link a{
	color: #008c44;
	text-decoration: none;
	display: inline-block;
	position: relative;	
}
.prod_link a:after{
	content: "";
	width: 0%;
	height: 3px;	
	background: #008c44;
	position: absolute;
	left: 0;
	bottom: -7px;
	transition: all .5s ease-in;
}
.prod_link a:hover:after{
	content: "";
	width: 100%;
	background: #008c44;
	transition: all .5s ease-in;
}
.product_footer{
	padding: 2em;
	text-align: center;
	background: #efefef;
	color: black;
}
.product_footer a{
	color: #008c44;
	text-decoration: none;
	display: inline-block;
	position: relative;
}
.product_footer a:after{
	content: "";
	width: 0%;
	height: 3px;	
	background: #008c44;
	position: absolute;
	left: 0;
	bottom: -7px;
	transition: all .5s ease-in;
	right: 0;
	margin: auto;
}
.product_footer a:hover:after{
	content: "";
	width: 100%;
	background: #008c44;
	transition: all .5s ease-in;
}
/*product ends*/
.list_sec button{
	padding: 10px;
	background: white;
	color: #008c44;
	border: 1px solid white;
} 
.list_sec button:hover{
	background: #008c44;
	color: white;
	border-color: white; 
}
.list_sec .fa{
	font-size: 35px; 
}
.list_sec h1{
	margin: .5em 0;
	font-size: 25px;
}
.bg_clr1{
	position: absolute;
    background: #008c44;
    width: 216%;
    height: 250%;
    transform: skew(0deg, 40deg);
    z-index: -1;
    left: -75%;
}
.bg_clr2{
	position: absolute;
	background: black;
	width: 100%;
    height: 100%;
    z-index: -2;
}
.product_slider{
    position: relative;
    display: block; 
    background-image: url(../images/grass.jpg);
    background-position: 0px 57%;
    background-repeat: no-repeat;
}
.grass2{
	background-image: url(../images/grass.jpg);
	position: absolute;
	padding: 10px;
    width: 100%;
}
footer {
	position: relative;
	width: 100%;
    background-image: url(../images/footer_bg.jpg);
    background-position: 0;
    color: white;
    text-align: left;
}
footer section{
	background: rgba(0, 140, 68,0.6);
}
footer section aside{
	background: rgba(0,0,0,0.7);
}
footer section .footer_sec{
	width: 1200px;
    margin: auto;
    position: relative;
    padding: 2em;
    line-height: 2;
}
.footer_sec > div{
	text-align: left !important;
	font-size: small;
}
.footer_sec > div h3{
	font-size: 22px;
}
.footer_sec button{
	padding: 3px 10px;
}
.footer_sec > div > span{
	border: none;
    padding: 0;
    margin-top: 0em;
    width: auto;
}
.contct_link{
	margin-left: 10px; 
	color: white;
	text-decoration: underline;
}
.contct_link:hover{
	color: white;
}

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 350px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em 0.8em 0.4em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none;
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}
.bgcolor-5{
	background-color: white;
}

.input__field--yoko {
	z-index: 10;
	width: 100%;
	background: transparent;
	color: #f5f5f5;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.input__label--yoko {
	position: relative;
	width: 100%;
	color: #008c44;
	text-align: left;
}

.input__label--yoko::before {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 100%;
	height: 4em;
	background: #008c44;
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--yoko::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0.25em;
	background: #008c44;
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label-content--yoko {
	padding: 0.75em 0;
}

.input__field--yoko:focus,
.input--filled .input__field--yoko {
	opacity: 1;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.input__field--yoko:focus + .input__label--yoko::before,
.input--filled .input__label--yoko::before {
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
}

.input__field--yoko:focus + .input__label--yoko,
.input--filled .input__label--yoko {
	pointer-events: none;
}

.input__field--yoko:focus + .input__label--yoko::after,
.input--filled .input__label--yoko::after {
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
}

@media (max-width: 1200px){
	body{
		width: 1200px;
    	position: relative;
	}
}