*{
	margin: 0;
	padding: 0;
	
}
::selection {
    background: #008c44;
    color: white;
}
.row{
	margin: 0;
	padding: 0;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	scroll-behavior: smooth;
}

body {
	line-height: 1;
	font-family: 'Montserrat','Lato','Open Sans', sans-serif;
	overflow-x: hidden;
}

header{
	background: white;
	position: relative;
	display: inline-block;
	z-index: 9999;
}
.logo_sec{
	width: 100%;
    height: auto;
    position: absolute;
    background-color: white;
    border-bottom: 1px solid #008c44;
}
header article .logo{
	width: auto;
	height: auto;
	position: relative;
	display: inline-block;	
	padding: 5px 15px !important;
}

header article .logo img{
	position: relative;
	display: inline-block;
	width: 60%;
}

header article .menu nav {
	/*width: 100%;*/
	height: auto;
	display: inline-block;
	position: relative;
	float: right;
	padding: 0px;
    text-align: center;
    background: #008c44;    
    font-size: small;
    /*border-bottom-left-radius: 2em;*/
    top: 3.2em;
    /*transition: all .5s ease-in;*/
}
button {
    padding: 10px;
    background: #008c44;
    color: white;
    border: 1px solid #008c44;
    transition: all .5s ease-in;
}
button:hover{
	background: white;
    color: #008c44;
}
.ani_hidden{
     opacity:0;
}
.ani_visible{
     opacity:1;
}
.logo{
	transition: all .5s ease-in;
}
.fix_logo{
	position: fixed !important;
    z-index: 9 !important;
    transition: all .5s ease-in;
}

.fix_menu{
	position: fixed;
	width: 100%;
	top: 0;
	box-shadow: -1px 3px 5px;
	transition: all .5s ease-in;
	background: white;
	padding-right: 15px;
}
.fix_menu nav{
	top: 0 !important;
	padding: 20px 0 !important;
	/*transition: all .5s ease-in;*/
	background: white !important;
	color: white !important;
}
.fix_menu nav li a{
	background: white !important;
	color: #008c44 !important;
}
.main_menu li {
  position: relative !important;
}
.brd_curve{
	/*border-bottom-left-radius: 2em;
	padding-left: 20px !Important;*/
}
#sub_menu {
  visibility: hidden;
  /* hides sub_menu */
  opacity: 0;
  position: absolute;
  top: 100% ;
  left: 0 ;
  /*width: 100% !important;*/
  transform: translateZ(0) ;
  transform: translateY(10%) ;
  transition: all 0.5s ease 0s, visibility 0s linear 0.5s ;
  /* the last value is the transition-delay for visibility */
}
.main_menu li:hover #sub_menu {
  visibility: visible ;
  opacity: 1 ;
  transform: translateX(0%) ;
  transition-delay: 0s ;
}
.menu nav ul li{
	display: inline-block;
	position: relative;
}

.menu nav ul li a{
	position: relative;
	display: inline-block;
	padding: 9px;
	background: #008c44;
	color: white;
	text-decoration: none;
	border: 1px solid transparent;
    transition: all 1s ease;
    font-size: 11px;
}
.bdr_curve{
	border-bottom-left-radius: 2em;
}
.main_menu > li:nth-child(4) #sub_menu{
	margin-left: .6em;
}
.menu nav ul li a:hover{
	color: #008c44;
	background: white;
	text-decoration: none;
	border-color: #008c44;
    transition: all 1s ease;
}

#sub_menu{
	position: absolute;
    background: white;
    color: #008c44;    
    margin-left: -2.2em;
    margin-top: 10px;
    /*opacity: 0;*/
    transition: all .5s ease-in;
    width: 150px;
}
#sub_menu li{
	width: 150px;
}
#sub_menu li a{
    background: #008c44;
    color: white;
    width: 150px;
    padding: 7px;
    border-bottom: 1px solid #008c44;
}
#sub_menu:before{
	content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #008c44;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -10px;
}
#sub_menu li:last-child a{
	border: none;
}
#sub_menu li a:hover{
	background: white;
	color: #008c44;
}
.footer_sn{
	position: absolute;
    right: 12px;
    top: 45px;
}
.footer_sn ul li{
	display: inline-block;
}
.icoFacebook i{
	color: white;
    font-size: 14px;
    border: 2px solid white;
    padding: 5px 5px 5px 7.5px;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    transition: all 1s ease-in;
    transform: rotate(0deg);
}
.icoFacebook i:hover{
	background: #3B5997;
	color: white;
	border-color: #3B5997;
	transform: rotate(360deg); 
	transition: all 1s ease-in;
}
.icoyoutube i{
	color: white;
    font-size: 14px;
    border: 2px solid white;
    padding: 4px 5px 5px 6px;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    transition: all 1s ease-in;
    transform: rotate(0deg);
}
.icoyoutube i:hover{
	background: #DE332C;
	color: white;
	border-color: #DE332C;
	transform: rotate(360deg); 
	transition: all 1s ease-in;
}
.icoGoogle i{
	color: white;
    font-size: 14px;
    border: 2px solid white;
    padding: 5px 5px 5px 3px;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    transition: all 1s ease-in;
    transform: rotate(0deg);
}
.icoGoogle i:hover{
	background: #D13E2C;
	color: white;
	border-color: #D13E2C;
	transform: rotate(360deg); 
	transition: all 1s ease-in;
}
.icoLinkedin i{
	color: white;
    font-size: 14px;
    border: 2px solid white;
    padding: 4px 5px 5px 6px;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    transition: all 1s ease-in;
    transform: rotate(0deg);
}
.icoLinkedin i:hover{
	background: #006DC0;
	color: white;
	border-color: #006DC0;
	transform: rotate(360deg); 
	transition: all 1s ease-in;
}
.social_icons{
	position: absolute;
	display: inline-block;
	right: 0;
	/*background: #008c44;*/
	color: #008c44;
	padding: 10px 10px 10px 35px;
    /*border-bottom-left-radius: 2em;*/
}
.social_icons span{
	font-size: 12px;
}
.social_icons ul{
	width: 100%;
	text-align: center;
	padding-top: 10px; 
}
.social_icons ul li{
	display: inline-block;
}
.social_icons ul li img{
	padding: 5px;
	width: 30px;
}
/*slider*/
.panel.current .bg-img {
	-webkit-transition: -webkit-transform .1s ease-in-out !important;
	transition: transform 1.1s ease-in-out !important;
}

.boxgallery[data-effect="effect-1"] .panel.active .bg-tile,
.boxgallery[data-effect="effect-2"] .panel.active .bg-tile {
	-webkit-animation: scaleDown .1s ease-in-out !important;
	animation: scaleDown .1s ease-in-out !important;
}

@-webkit-keyframes scaleDown {
	from { -webkit-transform: translate3d(0,0,380px); transform: translate3d(0,0,380px); }
	to { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}

@keyframes scaleDown {
	from { -webkit-transform: translate3d(0,0,380px); transform: translate3d(0,0,380px); }
	to { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}

/* Variation 2 */
.boxgallery[data-effect="effect-2"] .panel.current .bg-img {
	-webkit-transition: -webkit-transform 0s cubic-bezier(0.7,0,0.3,1);
	transition: transform 0s cubic-bezier(0.7,0,0.3,1);
}

.boxgallery[data-effect="effect-2"] .panel.current .bg-tile:nth-child(2) .bg-img {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.boxgallery[data-effect="effect-2"] .panel.current .bg-tile:nth-child(3) .bg-img {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.boxgallery[data-effect="effect-2"] .panel.current .bg-tile:nth-child(4) .bg-img {
	-webkit-transition-delay: 0.45s;
	transition-delay: 0.45s;
}

/* Variation 3 */
.boxgallery[data-effect="effect-3"] .panel::after {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	content: '';
	-webkit-transition: opacity 1.1s ease-in-out;
	transition: opacity 1.1s ease-in-out;
}

.boxgallery[data-effect="effect-3"] .panel.current::after,
.boxgallery[data-effect="effect-3"] .panel.active::after {
	opacity: 0;
}

.boxgallery[data-effect="effect-3"] .panel.current::after {
	-webkit-transition: none;
	transition: none;
}

.boxgallery[data-effect="effect-3"] .panel.current .bg-img {
	-webkit-transition: -webkit-transform 1.1s cubic-bezier(0.7,0,0.3,1);
	transition: transform 1.1s cubic-bezier(0.7,0,0.3,1);
}

.boxgallery[data-effect="effect-3"] .panel.current .bg-tile:nth-child(2) .bg-img {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.boxgallery[data-effect="effect-3"] .panel.current .bg-tile:nth-child(3) .bg-img {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.boxgallery[data-effect="effect-3"] .panel.current .bg-tile:nth-child(4) .bg-img {
	-webkit-transition-delay: 0.45s;
	transition-delay: 0.45s;
}

.slider_text{
	position: absolute;
	right: 0;
    width: 60%;
    background: rgba(0,0,0,0.7);
    box-shadow: 3px 4px 1px #000;
    height: 175px;
    bottom: 0px;
    z-index: 3;
    color: white;
    line-height: 16px;
    left: 0;
    margin: auto;
    /*top: 0;*/
}

.slider_text .name{
	padding: 15px;
	position: relative !important;
	display: inline-block;
}
.slider_text .name a{
	color: bisque;
	text-decoration: none;
}

.slider_text .info{
	padding: 15px;
	position: relative !important;
	display: inline-block;
}
.slider_text .info p{
	color: white;
	text-decoration: none;
	font-size: 12px;
}

.slider_text .read_more{
	padding: 15px;
	position: relative;
	display: inline-block;
}
.slider_text .read_more a{
	color: white !important;
	text-decoration: none;
}
.slider_text .read_more a:after{
	content: "";
    background-color: white;
    width: 0%;
    height: 2px;
    position: absolute;
    left: 2px;
    bottom: 12px;
    right: 0;
    margin: auto;
    transition: all .5s ease-in;
}
.slider_text .read_more a:hover:after{
	width: 61%;
	transition: all .5s ease-in;
}
/*slider end*/
.wrapper_sec{
	overflow: hidden;
	position: absolute;
    width: 100%;
    top: 100%;	
}
.wrapper_sec > article{
	width: 1200px;
	margin: auto;
	position: relative;
	display: block;
	clear: both;
    float: none;
	padding-bottom: 2em;
}
.wrapper_sec article > div{
	/*height: 200px;*/
    /*border: 1px solid #008c44;*/
    text-align: center;
}
.wrapper_sec article > div > span{
	position: relative;
    display: inline-block;
    border: 5px solid white;
    padding: 3em 0;
    margin-top: 2em;
    width: 265px;
    color: white;
}
.list_sec button{
	padding: 10px;
	background: white;
	color: #008c44;
	border: 1px solid white;
} 
.list_sec button:hover{
	background: #008c44;
	color: white;
	border-color: white; 
}
.list_sec .fa{
	font-size: 35px; 
}
.list_sec h1{
	margin: .5em 0;
	font-size: 25px;
}
.bg_clr1{
	position: absolute;
    background: #008c44;
    width: 216%;
    height: 250%;
    transform: skew(0deg, 40deg);
    z-index: -1;
    left: -75%;
}
.bg_clr2{
	position: absolute;
	background: black;
	width: 100%;
    height: 100%;
    z-index: -2;
}
.product_slider{
    position: relative;
    display: block; 
    background-image: url(../images/grass.jpg);
    background-position: 0px 57%;
    /* background-size: 100% 512px; */
    background-repeat: no-repeat;
}
.grass2{
	background-image: url(../images/grass.jpg);
	position: absolute;
	padding: 10px;
    width: 100%;
}
footer {
	position: relative;
	width: 100%;
    background-image: url(../images/footer_bg.jpg);
    color: white;
    text-align: left;
}
footer section{
	background: rgba(0, 140, 68,0.6);
}
footer section aside{
	background: rgba(0,0,0,0.7);
}
footer section .footer_sec{
	width: 1200px;
    margin: auto;
    position: relative;
    padding: 2em;
    line-height: 2;
}
.footer_sec > div{
	text-align: left !important;
	font-size: small;
}
.footer_sec > div h3{
	font-size: 22px;
}
.footer_sec button{
	padding: 3px 10px;
}
.footer_sec > div > span{
	border: none;
    padding: 0;
    margin-top: 0em;
    width: auto;
}
.contct_link{
	margin-left: 10px; 
	color: white;
	text-decoration: underline;
}
.contct_link:hover{
	color: white;
}

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 350px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em 0.8em 0.4em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}
.bgcolor-5{
	background-color: white;
}

.input__field--yoko {
	z-index: 10;
	width: 100%;
	background: transparent;
	color: #f5f5f5;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.input__label--yoko {
	position: relative;
	width: 100%;
	color: #008c44;
	text-align: left;
}

.input__label--yoko::before {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 100%;
	height: 4em;
	background: #008c44;
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--yoko::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0.25em;
	background: #008c44;
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label-content--yoko {
	padding: 0.75em 0;
}

.input__field--yoko:focus,
.input--filled .input__field--yoko {
	opacity: 1;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.input__field--yoko:focus + .input__label--yoko::before,
.input--filled .input__label--yoko::before {
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
}

.input__field--yoko:focus + .input__label--yoko,
.input--filled .input__label--yoko {
	pointer-events: none;
}

.input__field--yoko:focus + .input__label--yoko::after,
.input--filled .input__label--yoko::after {
	-webkit-transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
	transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
}